In [1]:
import pandas as pd
import mysql.connector as mysql

In [2]:
vf = pd.read_excel('Valeurs_foncières.xlsx')

In [3]:
vf = vf[['No voie', 'Type de voie', 'Voie', 'Nombre pieces principales', 'Surface Carrez du 1er lot', 
         'Surface reelle bati', 'Type local', 'Code departement', 'Code commune']]

In [4]:
vf["id_code"] = vf['Code departement'].map("{:0>2}".format) + vf['Code commune'].map("{:03}".format)

In [5]:
vf['id'] = vf.index

In [6]:
bien = vf.astype(object).where(pd.notnull(vf), None)

In [7]:
bien = bien[['id', 'No voie', 'Type de voie', 'Voie', 'Nombre pieces principales', 'Surface Carrez du 1er lot',
             'Surface reelle bati', 'Type local', 'id_code']]
bien

,id,No voie,Type de voie,Voie,Nombre pieces principales,Surface Carrez du 1er lot,Surface reelle bati,Type local,id_code
0,0,190.0,RUE,CENTRALE,2.0,50.42,52.0,Appartement,01350
1,1,347.0,RUE,DU CHATEAU,3.0,48.22,48.0,Appartement,01103
2,2,58.0,AV,DU MONT BLANC,6.0,130.8,130.0,Appartement,01143
3,3,140.0,RUE,DE L'ABBE JOLIVET,5.0,109.22,109.0,Maison,01288
4,4,39.0,RUE,BUFFON,4.0,108.65,91.0,Appartement,01033
...,...,...,...,...,...,...,...,...,...
34164,34164,4.0,RUE,DE RIVOLI,3.0,102.09,99.0,Appartement,75104
34165,34165,38.0,RUE,DU TEMPLE,3.0,55.95,56.0,Appartement,75104
34166,34166,13.0,RUE,DES TOURNELLES,2.0,32.86,29.0,Appartement,75104
34167,34167,16.0,RUE,CHARLEMAGNE,3.0,56.8,48.0,Appartement,75104
34168,34168,3.0,RUE,SAINT-JOSEPH,1.0,35.44,33.0,Appartement,75102

In [8]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "db_immo"
)

cursor = db.cursor()

sql = "INSERT INTO bien(Id_bien, No_voie,Type_voie, Voie, Total_piece, Surface_carrez,Surface_local, Type_local, id_codedep_codecommune) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s)"
for i,row in bien.iterrows():
    cursor.execute(sql, tuple(row))    
    db.commit()

db.close()