In [2]:
import pandas as pd
import mysql.connector as mysql

In [4]:
DC = pd.read_excel('donnees_communes.xlsx')
DC

,CODREG,REG,CODDEP,CODARR,CODCAN,CODCOM,COM,PMUN,PCAP,PTOT
0,84,Auvergne-RhÃ´ne-Alpes,01,2.0,08,1,L'Abergement-ClÃ©menciat,779,19,798
1,84,Auvergne-RhÃ´ne-Alpes,01,1.0,01,2,L'Abergement-de-Varey,256,1,257
2,84,Auvergne-RhÃ´ne-Alpes,01,1.0,01,4,AmbÃ©rieu-en-Bugey,14134,380,14514
3,84,Auvergne-RhÃ´ne-Alpes,01,2.0,22,5,AmbÃ©rieux-en-Dombes,1751,25,1776
4,84,Auvergne-RhÃ´ne-Alpes,01,1.0,04,6,AmblÃ©on,112,6,118
...,...,...,...,...,...,...,...,...,...,...
34986,4,La RÃ©union,974,1.0,04,420,Sainte-Suzanne,24065,227,24292
34987,4,La RÃ©union,974,3.0,06,421,Salazie,7136,73,7209
34988,4,La RÃ©union,974,2.0,99,422,Le Tampon,79824,1009,80833
34989,4,La RÃ©union,974,4.0,14,423,Les Trois-Bassins,7015,91,7106
34990,4,La RÃ©union,974,2.0,16,424,Cilaos,5538,85,5623

In [5]:
commune = DC[['CODDEP','COM','PTOT', 'CODCOM']]

In [6]:
commune["id_commune"] = commune["CODDEP"].astype(str) + commune["CODCOM"].map("{:03}".format)

communes = commune[['CODDEP','COM','PTOT','id_commune']]
communes

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_18076\2613116345.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commune["id_commune"] = commune["CODDEP"].astype(str) + commune["CODCOM"].map("{:03}".format)

      CODDEP                       COM   PTOT id_commune
0         01  L'Abergement-ClÃ©menciat    798      01001
1         01     L'Abergement-de-Varey    257      01002
2         01        AmbÃ©rieu-en-Bugey  14514      01004
3         01      AmbÃ©rieux-en-Dombes   1776      01005
4         01                  AmblÃ©on    118      01006
...      ...                       ...    ...        ...
34986    974            Sainte-Suzanne  24292     974420
34987    974                   Salazie   7209     974421
34988    974                 Le Tampon  80833     974422
34989    974         Les Trois-Bassins   7106     974423
34990    974                    Cilaos   5623     974424

[34991 rows x 4 columns]

In [7]:
communes.dropna()

      CODDEP                       COM   PTOT id_commune
0         01  L'Abergement-ClÃ©menciat    798      01001
1         01     L'Abergement-de-Varey    257      01002
2         01        AmbÃ©rieu-en-Bugey  14514      01004
3         01      AmbÃ©rieux-en-Dombes   1776      01005
4         01                  AmblÃ©on    118      01006
...      ...                       ...    ...        ...
34986    974            Sainte-Suzanne  24292     974420
34987    974                   Salazie   7209     974421
34988    974                 Le Tampon  80833     974422
34989    974         Les Trois-Bassins   7106     974423
34990    974                    Cilaos   5623     974424

[34991 rows x 4 columns]

In [8]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "db_immo"
)

cursor = db.cursor()

sql = "INSERT INTO commune(Id_dep,Nom_commune,Population,ID_com) VALUES(%s,%s,%s,%s)"
for i,row in communes.iterrows():
    cursor.execute(sql, tuple(row))    
    db.commit()

db.close()